html,
body,
#root {
  height: 100%;
  margin: 0;
  box-sizing: border-box;
}

#root {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 1rem;
}

section {
  min-height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.two {
  padding-top: 10vh;
}
.three {
  padding-top: 10vh;
}
.four {
  justify-content: center;
}

.about-me-content {
  display: flex;
  width: 60vw;
  flex: 0.8;
  flex-direction: column;
  justify-content: space-around;
  text-align: left;
}

.skills-content {
  width: 60vw;
  text-align: left;
}

.abstract-heading {
  margin-bottom: 2rem;
  font-size: clamp(1rem, 13vw, 20rem);
  font-weight: 1000;
  color: #fff;
  letter-spacing: 0.3vw;
  text-align: center;
}

.icons {
  display: flex;
  justify-content: center;
  gap: 5vw;
}

.icon svg {
  color: white;
  transition: all 0.2s linear;
  border-radius: 50%;
  font-size: 2rem;
}

.icon svg:hover {
  color: #334736;
  background-color: white;
  outline: 0.5rem solid white;
  transition: all 0.2s linear;
}

@media (max-width: 768px) {
  .about-me-content,
  .skills-content {
    width: 80vw;
  }
}
